<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="C:\DWVLog\" /> <!--/usr/DWVLog/-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <datePattern value="yyyyMMdd&quot;.log&quot;" />
    <appendToFile value="true" />
    <RollingStyle value="Date" />
    <StaticLogFileName value="false" />
    <MaxSizeRollBackups value="10" />
    <maximumFileSize value="2MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%t]%-5p %c - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="ALL"/> <!--这里不起作用，需要在appsettgins.json里配置-->
    <appender-ref ref="DebugAppender" />
  </root>
</log4net>